@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(1, 1, 1, 0.8);
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  padding: 0 100px;
  transition: 0.6s;
}

header .logo {
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

header .navigation {
  position: relative;
  line-height: 75px;
  transition: 0.6s;
  transition-property: line-height;
}

header.sticky .navigation {
  line-height: 60px;
}

header .navigation .menu {
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
}

.menu-item > a {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  margin: 20px;
  padding: 25px 0;
}

.menu-item > a:hover {
  color: #08943b;
  transition: 0.3s;
}

.menu-item .sub-menu {
  position: absolute;
  background: rgba(1, 1, 1, 0.8);
  line-height: 40px;
  list-style: none;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.8);
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s;
  transition-property: transform, opacity;
}

header.sticky .menu-item .sub-menu {
  top: 60px;
}

.menu-item:hover .sub-menu {
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.menu-item .sub-menu .sub-item {
  position: relative;
  padding: 7px 0;
  cursor: pointer;
  box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
}

.menu-item .sub-menu .sub-item a {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover {
  background: #4080ef;
}

.menu-item .sub-menu .sub-item:last-child:hover {
  border-radius: 0 0 8px 8px;
}

.more .more-menu {
  position: absolute;
  background: rgba(1, 1, 1, 0.8);
  list-style: none;
  top: 0;
  left: 100%;
  white-space: nowrap;
  border-radius: 0 8px 8px 8px;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s;
  transition-property: transform, opacity;
}

.more:hover .more-menu {
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.more .more-menu .more-item {
  padding: 7px 0;
  box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.more .more-menu .more-item:hover {
  background: #4080ef;
}

.menu-btn {
  display: none;
}
.judul h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 130px;
}
section.quote {
  background: url("foto-uptd.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  padding: 100px;
  
  
}
section.quote .layar-dalam p {
  display: inline;
  padding: 40px;
}
#aboutus {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

#aboutus .gambar h2 {
  text-align: center;
}
/*.judul1 h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
}
section.quote {
  background: url("asset/background-bromo.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  padding: 100px;
}
section.quote .layar-dalam p {
  display: inline;
  background: url("asset/quote-icon.png") no-repeat;
  padding: 40px;
}
.aboutus {
  height: 100vh;
  padding: 60px 0px 0px 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #fff;
}

.tentangkami-2 {
  margin: 0px 251px 0px 0px;
}
.tentangkami-1 h2 {
  text-align: center;
  background-color: #fff;
  padding-top: 25px;
}
.tentangkami-2 p {
  margin: 20px 50px 0px 20px;
  position: absolute;
  font-size: 0.9rem;
}
.tentangkami-2 .image {
  position: absolute;
  width: 480px;
  height: 500px;
  margin-top: 155px;
}
/* Footer */
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 20px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
  /*border: 1px solid #010101;*/
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 500;
  position: relative;
}
/*.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 1px;
  box-sizing: border-box;
  width: 50px;
}*/
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-col h5 {
  font-size: 15px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 0px;
  font-weight: 500;
  position: relative;
}
.footer-col h5 Span {
  font-size: 0px;
  color: transparent;
  text-transform: capitalize;
  margin-bottom: -5px;
  font-weight: 500;
  position: relative;
  color: #bbbbbb;
}
.footer-col p {
  font-size: 14px;
  bottom: -5px;
  color: #bbbbbb;
}
.credit {
  font-size: 13px;
  text-align: center;
  background-color: #20ad54;
}
@media (max-width: 1060px) {
  header .navigation .menu {
    position: fixed;
    display: block;
    background: rgba(1, 1, 1, 0.8);
    min-width: 350px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 90px 50px;
    visibility: hidden;
    overflow-y: auto;
    transition: 0.5s;
    transition-property: right, visibility;
  }

  header.sticky .navigation {
    line-height: 75px;
  }

  header .navigation .menu.active {
    right: 0;
    visibility: visible;
  }

  .menu-item {
    position: relative;
  }

  .menu-item .sub-menu {
    opacity: 1;
    position: relative;
    top: 0;
    transform: translateX(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    overflow: hidden;
    display: none;
  }

  header.sticky .menu-item .sub-menu {
    top: 0;
  }

  .menu-item:hover .sub-menu {
    transform: translateX(10px);
  }

  .menu-item .sub-menu .sub-item {
    box-shadow: none;
  }

  .menu-item .sub-menu .sub-item:hover {
    background: none;
  }

  .menu-item .sub-menu .sub-item a:hover {
    color: #4080ef;
    transition: 0.3s;
  }

  .more .more-menu {
    opacity: 1;
    position: relative;
    left: 0;
    transform: translateY(0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: none;
  }

  .more .more-menu .more-item {
    box-shadow: none;
  }

  .more .more-menu .more-item:hover {
    background: none;
  }

  .more .more-menu .more-item a {
    margin-left: 20px;
  }

  .close-btn {
    position: absolute;
    background: url(close.png) no-repeat;
    width: 40px;
    height: 40px;
    background-size: 25px;
    background-position: center;
    top: 0;
    left: 0;
    margin: 25px;
    cursor: pointer;
  }

  .menu-btn {
    background: url(menu.png) no-repeat;
    width: 40px;
    height: 40px;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    display: block;
  }

  header {
    padding: 15px 20px;
  }

  header.sticky {
    padding: 10px 20px;
  }

  .icons {
    flex-wrap: wrap;
    position: absolute;
    top: 40%;
    left: 3%;
    transform: translate(-25%, -25%);
    size-adjust: 50%;
  }
  .judul h1 {
    margin-top: 95px;
  }
  .aboutus {
    height: 225vh;
    flex-direction: row;
  }
  .tentangkami-1 {
    flex-direction: column;

    margin: -60px 0px -800px -51px;
  }
  .tentangkami-1 h2 {
    flex-direction: column;
  }
  .peta {
    width: 100%;
  }
  .tentangkami-2 p {
    margin: -90px 20px 0px -20px;
  }
  .tentangkami-2 .image {
    left: 0;
    margin: 55px 0px 0px 0px;
  }

  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  #aboutus {
    display: flex;
    flex-direction: column;
    margin: 40px;
  }
  #aboutus .gambar img {
    height: 450px;
    width: 440px;
  }
}
